aiofiles==0.4.0
atomicwrites==1.2.1
attrs==18.2.0
httptools==0.0.11
more-itertools==4.3.0
multidict==4.4.2
pluggy==0.8.0
py==1.7.0
pytest==3.10.0
sanic==0.8.3
six==1.11.0
ujson==1.35
uvloop==0.11.3
websockets==5.0.1
